<ul class="nav navbar-top-links navbar-right hidden-xs">
    <li>
       Hi {{vm.user.firstName}}  
        
    </li>  
</ul>
<div class="container">
        <div class="row">
            <div class="center-block">
                <div class="panel-body">
                    <a href="#" class="pull-left"><img class="img-circle" src="img/photo.jpg"></a>
                    <h1 class="text-center">FTN scholar</h1>
                </div>
            </div> 
         </div>
</div>

<h2> Admin panel to add crawler urls</h2>
<form name="myForm">
<label for="singleSelect"> Set at which crawl stage to start the first cycle: </label><br>
    <select name="singleSelect" ng-model="ccjob.stage">
      <option value="1">InjectorJob</option>
      <option value="2">GeneratorJob</option>
      <option value="3">FetcherJob</option>
      <option value="4">ParserJob</option>
      <option value="5">DbUpdaterJob</option>
      <option value="6">IndexingJob</option>
    </select><br>
    <hr>
    
    <label   > Set number of crawl cycles per run: </label><br>
    <input type="text" name="input" 
     ng-model="ccjob.cycles" > <hr>
    <label > Number of top links: </label><br>
     <input type="text" name="input" 
     ng-model="ccjob.topn" > <hr>
    
    <label > Inject: </label><br>
     <select name="singleSelect" ng-model="ccjob.inject">
      <option value="true">true</option>
      <option value="false">false</option>
    </select> <hr>
    
     <label > Seed url: </label><br>
      <input type="text" name="input" 
     ng-model="ccjob.seedUrl" > <hr>
    
    </form >
<p><a href="#!/login" class="btn btn-primary">Submit</a></p>
 <hr>
 <a href="#!/login" class="btn btn-danger">Logout</a>  